---
import Image from "astro/components/Image.astro";
import photo from "./../assets/dd39df0bfe9d402047cbae12c8863488ee69c56f.png";
---

<div class="lg:py-[80px] lg:px-[60px] bg-white rounded-[40px] flex flex-col-reverse lg:relative p-[24px]">
  <div class="flex flex-col lg:gap-[20px] gap-[16px]">
    <h2 class="font-extrabold lg:text-[30px] text-[20px]">О нас</h2>
    <p class="max-w-[605px] lg:text-[18px] text-[16px]">
      Мы — команда экспертов с многолетним опытом в сопровождении решений на
      платформе 1С. Настроим, оптимизируем и поддержим вашу систему под
      конкретные задачи.
    </p>
  </div>
  <Image src={photo} alt="computer" class="lg:absolute lg:right-[-30px] lg:top-[-110px] w-[310px] lg:w-[650px]" />
</div>
