---
import Image from "astro/components/Image.astro";
import icon1 from "../assets/Icon1.svg";
import icon2 from "../assets/Icon2.svg";
import icon3 from "../assets/Icon3.svg";
import icon4 from "../assets/Icon4.svg";
---

<div class="flex flex-col gap-[24px] text-white ">
  <h2 class="font-extrabold text-[30px]">Наши преимущества</h2>
  <div class="grid grid-cols-2 grid-rows-2 gap-[24px]">
    <div class="w-[500px] flex flex-col gap-[16px]">
      <Image src={icon1} alt="icon1" width={50} />
      <p class="text-[20px] font-semibold">Реагируем < 24 часов</p>
    </div>
    <div class="w-[500px] flex flex-col gap-[16px]">
      <Image src={icon2} alt="icon2" width={50} />
      <p class="text-[20px] font-semibold">Прозрачные тарифы</p>
    </div>
    <div class="w-[500px] flex flex-col gap-[16px]">
      <Image src={icon3} alt="icon3" width={50} />
      <p class="text-[20px] font-semibold">Индивидуальный подход</p>
    </div>
    <div class="w-[500px] flex flex-col gap-[16px]">
      <Image src={icon4} alt="icon4" width={50} />
      <p class="text-[20px] font-semibold">Подходит для всех - от ИП до корпораций</p>
    </div>
  </div>
</div>
