---
import Image from "astro/components/Image.astro";
import img from "../assets/1782572e23ce289e045414c0d19591c785066c42.png";
import emailjs from "@emailjs/browser";
---

<div class="bg-white lg:p-[60px] p-[24px] rounded-[40px] relative flex flex-col-reverse">
  <div>
    <h2 class="font-extrabold lg:text-[30px] text-[20px] mb-[24px]">Связаться с нами</h2>
    <form class="flex flex-col gap-[16px] max-w-[600px]">
      <input type="text" placeholder="Имя*" class="bg-[#EDECED] px-[16px] py-[14px] rounded-[8px]" name="name" />
      <input type="text" placeholder="Email или номер телефона"
             class="bg-[#EDECED] px-[16px] py-[14px] rounded-[8px]" name="phone" />
      <textarea placeholder="Кратко опишите запрос" class="bg-[#EDECED] px-[16px] py-[14px] rounded-[8px]"
                name="message"></textarea>
      <div>
        <button type="submit" class="cursor-pointer px-[28px] py-[16px] rounded-[50px] font-extrabold text-white"
                style="background: linear-gradient(180deg, #009DFF 0%, #AE00FF 100%)"
        >Отправить заявку
        </button>
      </div>
    </form>
  </div>
  <Image src={img} alt="form-img" width={440} class="lg:absolute top-0 right-0 lg:w-[440px] w-[310px]" />
</div>

<script>
  console.log("hello world");
</script>
