<div class="text-white flex flex-col gap-[20px]">
  <h2 class="font-extrabold lg:text-[30px] text-[20px]">Наши услуги</h2>
  <div class="lg:grid grid-cols-2 grid-rows-2 lg:gap-[50px] relative flex flex-col gap-[16px]">
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold lg:text-[24px] text-[16px]">Настройка 1С</h3>
      <p class="lg:text-[20px] text-[14px] font-semibold">Оптимизация конфигурации и бизнес-процессов</p>
      <div class="w-full h-[1px] bg-white lg:hidden"></div>
    </div>
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold lg:text-[24px] text-[16px]">Техническая поддержка</h3>
      <p class="lg:text-[20px] text-[14px] font-semibold">Быстрое устранение ошибок и багов</p>
      <div class="w-full h-[1px] bg-white lg:hidden"></div>
    </div>
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold lg:text-[24px] text-[16px]">Отчёты и формы</h3>
      <p class="lg:text-[20px] text-[14px] font-semibold">Индивидуальные формы и визуализация данных</p>
      <div class="w-full h-[1px] bg-white lg:hidden"></div>
    </div>
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold lg:text-[24px] text-[16px]">Интеграции</h3>
      <p class="lg:text-[20px] text-[14px] font-semibold">Связь 1С с CRM, сайтами, платёжными системами</p>
      <div class="w-full h-[1px] bg-white lg:hidden"></div>
    </div>

    <div
      class="absolute top-0 bottom-0 left-1/2 w-[1px] bg-white -translate-x-1/2 pointer-events-none lg:block hidden"></div>
    <div
      class="absolute left-0 right-0 top-1/2 h-[1px] bg-white -translate-y-1/2 pointer-events-none lg:block hidden"></div>
  </div>
</div>
