<div class="text-white flex flex-col gap-[20px]">
  <h2 class="font-extrabold text-[30px]">Наши услуги</h2>
  <div class="grid grid-cols-2 grid-rows-2 gap-[50px] relative">
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold text-[24px]">Настройка 1С</h3>
      <p class="text-[20px] font-semibold">Оптимизация конфигурации и бизнес-процессов</p>
    </div>
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold text-[24px]">Техническая поддержка</h3>
      <p class="text-[20px] font-semibold">Быстрое устранение ошибок и багов</p>
    </div>
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold text-[24px]">Отчёты и формы</h3>
      <p class="text-[20px] font-semibold">Индивидуальные формы и визуализация данных</p>
    </div>
    <div class="flex flex-col gap-[16px]">
      <h3 class="font-extrabold text-[24px]">Интеграции</h3>
      <p class="text-[20px] font-semibold">Связь 1С с CRM, сайтами, платёжными системами</p>
    </div>

    <div class="absolute top-0 bottom-0 left-1/2 w-[1px] bg-white -translate-x-1/2 pointer-events-none"></div>
    <div class="absolute left-0 right-0 top-1/2 h-[1px] bg-white -translate-y-1/2 pointer-events-none"></div>
  </div>
</div>
