---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="flex flex-col lg:gap-[24px] gap-[16px] text-center ">
  <h1 class="font-extrabold lg:text-[40px] text-[20px] text-white">Профессиональная поддержка 1С</h1>
  <h2 class="font-medium lg:text-[32px] text-[16px] text-white">Надежно. Быстро. Индивидуально.</h2>
</div>
