---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";

---

<div class="flex flex-col gap-[24px] text-center">
  <h1 class="font-extrabold text-[40px] text-white">Профессиональная поддержка </h1>
  <h2 class="font-medium text-[32px] text-white">Надежно. Быстро. Индивидуально.</h2>
</div>
